* {
    margin: 0;
}
body { 
    background: gray;
    display: flex;
    flex-direction: column;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(49, 56, 51);
    color: white;
    padding-top: 30px;
    height: auto;
    border: white 7px;
    border-style: double ;
    font-family: a꼴통로봇;
    width: auto;
    
}

header .C2 {
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-shadow: rgb(7, 11, 243) 2px 4px 6px;
}

header li {
    font-family: a꼴통로봇, serif;
    display: inline;
    padding: 0 50px;
    margin-left: 90px;
    float: left;
}

.A2 {

    float: left;
    padding: -10px;
}

.A2 h1{
    margin: 0;
    color: white;
    padding-left: 70px;
    text-decoration: none;
    font-size: 80px;
}

span {
    color: orangered;
    font-weight: bold;
}

span:hover {
    color:blueviolet;
    font-size: 25px;
    text-shadow: blue 3px 3px;
}

header a:hover {
    color: gray;
    font-weight: bold;
    font-family: a꼴통로봇, serif;
    
}

header h1:hover {
    color: black;
    text-shadow: darkslateblue 3px 3px;
}
header i {
    font-size: 40px;
}
header i:hover{
    color: yellow;
    transform: scale(1.2);
}
.A3 div{
    width: auto;
    background-color: rgb(99, 99, 99);
    border: white double 7px;
    border-radius: 5px 5px 20px 20px;
    height: 30px;
}
.A5 div{
    width: auto;
    background-color: rgb(99,99,99);
    border: white double 7px;
    border-radius: 20px 20px 20px 20px;
    height: 30px;
}
.A7 {
    height: 500px;
    display: flex;
}
.D1 {
    min-height: calc(100vh - 100px);
}

.A1 {
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: 10px 10px 10px 20%;
    padding: 30px;
    font-size: none;
    font-family: a공간L, serif;
    box-sizing: border-box;
    height: 400px;
}
table {
    width: 400px;
    height: 10px;   
    text-align: center;
    border: black solid 1px;
    border-collapse: collapse;
    float: right;
   
}
caption {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: a니캉내캉, serif;
}
th, td {
    border: black solid 1px;
    padding: 3px;
    font-family: a니캉내캉, serif;
}

aside {
    width: 30%;
    background:rgb(121, 116, 116);
    background: linear-gradient(to right bottom, rgb(121, 116, 116), black);
    margin: 0 10 0 10px;
    padding: 30px;
    box-sizing: border-box;
    border: solid white 1px;
    color: rgb(255, 255, 255);
    font-family: a꼴통로봇, serif;
}
aside li {
    list-style: circle;
    list-style-position: inside;
}
.A1 h2{
    text-align: center;
    font-size: 40px;
}
.A1 b {
    margin-left: 45%;
    font-size: 20px;
}

.A1 li {
    margin-left: 25%;
    text-indent: 50px;
    font-size: 20px;
    font-weight: none;
}
.A1 p {
    font-size: 20px;
    text-align: right;
}
section p {
    font-weight: bolder;
    text-indent: 40px;
}
aside {
    float: right;
}
aside a{
    color: gray;
    text-decoration: none;
    font-size: 20px;
}
aside a:hover{
    text-decoration: rgb(226, 223, 43) underline;
    color: rgb(226, 223, 43);
}
aside input {
    margin-top: 10px;
    background: gray;
    border-radius:7px;
}
aside input:hover {
    background-color: lightgray;
    color: white;
}
aside input:active {
    background-color: rgb(59, 56, 75);
    transform: scale(0.85);
}

.A4 {
    opacity: 0.8;
}
#sec {
    box-shadow: 4px 4px 10px 3px black;
}

#sec p { 
font-weight: lighter;
}
#sec strong {
    text-decoration:underline;
    font-weight: bold;
}

.home{
    text-decoration: none;
}

footer { 
    margin-top: auto;
    height: 200px;
    line-height: 200px;
    background-color: rgb(65, 64, 66);
    width: 100%;
    border-top: rgb(255, 255, 255) solid 3px;
    text-align: center;
    color: rgb(202, 200, 200);
}

.D2 {
    background-color: rgba(255, 255, 255, 0.404);
    width: 20%;
    margin: 5% 10px 10px 10%;
    padding: 30px;
    font-size: larger;
    font-family: a공간L, serif;
    box-sizing: border-box;
    height: 1000px;
}

.D3 {
    text-indent: 15px;
}

.D4 {
    display: flex;
}
.E1 {
    background: rgba(255, 255, 255, 0.8);
    width: 80%;
    margin: 5% 5% 0 10%;
    padding: 30px;
    font-size: none;
    font-family: a공간L, serif;
    box-sizing: border-box;
    height: auto;
}

.E1 h2 {
    text-align: center;
    font-size: 50px;
}
.E1 video {
    width: 100%;
}
.F1 {
    background-color: rgba(255, 255, 255, 0.7);
    width: 70%;
    margin: 10px 10px 10px 10%;
    padding: 40px;
    font-size: 20px;
    font-family: a공간L, serif;
    box-sizing: border-box;
    height: auto;
    text-align: center;
}

.AA{
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    margin: 10px 10px 10px 10%;
    padding: 50px 50px 50px 50px;
    font-size: 40px;
    font-family: a공간L, serif;
    box-sizing: border-box;
    height: 700px;
    text-align: center;
}

.BB{
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    margin: 10px 10px 10px 10%;
    padding: 50px;
}

.BB form {
    margin-left: 30%;
    width: 40%;
    
}
.A9 {
    background-color: rgba(255, 255, 255, 0.80);
    width: 80%;
    margin-left: 10%;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 200px 200px 200px 200px;
    line-height: auto;
    font-size: 25px;
    font-family: a공간L, serif;
    box-sizing: border-box;
    height: auto;
    text-align: center;
}


.A9 ol{
    list-style: none;
    margin-left: -30px;
}

@media (max-width: 768px) {
    header,
    header nav,
    header ul,
    .F1,
    main aside,
    .A1,
    .A9,
    .D2
    .E1
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    
   header nav {
       float: right;
   }
    main aside {
        padding-top: 80px;
    }
    .A1 b{
        margin-left: 0;
        padding: 0;
    }
    .A1 li
    {
        margin-left: 0;
    }
    .E1 {
        width: 100%;
        margin-left: 0;
    }
    .A1 {
        margin: auto;
        margin-bottom: 10px;
        height: 500px;
    }
    .A9 {
        margin: auto;
        margin-top: 10px;
        padding: 0;
        height: auto;
        font-size: 15px;
    }
    .A2 h1 {
        font-size: 40px;
    }
    .AA {
        height: auto;
        font-size: 25px;
    }
    

}



 


    